<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <title>Getting Started</title>
    <!-- add one of the jQWidgets styles -->
    <link rel="stylesheet"
          href="jqwidgets/jqwidgets/styles/jqx.base.css" type="text/css" />
    <link rel="stylesheet"
          href="jqwidgets/jqwidgets/styles/jqx.darkblue.css" type="text/css" />
    <!-- add the jQuery script -->
    <script type="text/javascript" src="jqwidgets/scripts/jquery-1.11.1.min.js"></script>
    <!-- add the jQWidgets framework -->
    <script type="text/javascript" src="jqwidgets/jqwidgets/jqxcore.js"></script>
    <!-- add one or more widgets -->
    <script type="text/javascript" src="jqwidgets/jqwidgets/jqxbuttons.js"></script>
    <link rel="stylesheet" href="jqwidgets/jqwidgets/styles/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="jqwidgets/jqwidgets/styles/jqx.classic.css" type="text/css" />
    <script type="text/javascript" src="jqwidgets/jqwidgets/jqxvalidator.js"></script>

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

</head>
<body>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sendButton').jqxButton({ width: 60, height: 25, theme: 'classic' });
        $('#sendButton').bind('click', function () {
            $('#testForm').jqxValidator('validate');
        });
        $('#testForm').jqxValidator({
            rules: [
                { input: '#userInput', message: 'Your username must be between 3 and 12 characters!', action: 'keyup', rule: 'length=3,12' },
                { input: '#passwordInput', message: 'Your password must be between 4 and 12 characters!', action: 'keyup', rule: 'length=4,12' },
                { input: '#passwordConfirmInput', message: 'Passwords doesn\'t match!', action: 'keyup, focus', rule: function (input) {
                    if (input.val() === $('#passwordInput').val()) {
                        return true;
                    }
                    return false;
                }
                },
                { input: '#emailInput', message: 'Invalid e-mail!', action: 'keyup', rule: 'email' }], theme: 'classic'
        });
    });
</script>

<div  ><h3>تسجيل باحث</h3></div>
<form id="testForm" action="./">
    <table align="center" class="register-table">
        <tr>
            <td>اسم المستخدم</td>
            <td><input type="text" id="userInput" class="text-input" /></td>
        </tr>
        <tr>
            <td>كلمة السر</td>
            <td><input type="password" id="passwordInput" class="text-input" /></td>
        </tr>
        <tr>
            <td>تأكيد كلمة السر</td>
            <td><input type="password" id="passwordConfirmInput" class="text-input" /></td>
        </tr>
        <tr>
            <td>البريد الالكتروني</td>
            <td><input type="text" id="emailInput" class="text-input" /></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                <input type="button" value="Send" id="sendButton" />
            </td>
        </tr>
    </table>
</form>

</body>
</html>